# ======================================
# ANGULAR / BUILD OUTPUT
# ======================================
/dist
/.angular
/out-tsc
/tmp
/coverage

# ======================================
# NODE
# ======================================
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# ======================================
# TESTING
# ======================================
/coverage
/test-results

# ======================================
# CACHE
# ======================================
.sass-cache/
.eslintcache
.cache/

# ======================================
# IDEs / EDITORS
# ======================================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
.history/

# ======================================
# OS FILES
# ======================================
.DS_Store
Thumbs.db

# ======================================
# ANGULAR MISC
# ======================================
/typings
/connect.lock
/libpeerconnection.log
testem.log

# ======================================
# ENV FILES (si algún día usas)
# ======================================
.env*