<div class="max-w-5xl mx-auto p-6 space-y-6">

    <h1 class="text-2xl font-bold">
        Mis órdenes
    </h1>

    <!-- LOADING -->
    <div *ngIf="loading()" class="text-gray-500">
        Cargando órdenes...
    </div>

    <!-- EMPTY -->
    <div *ngIf="!loading() && orders().length === 0"
         class="text-center text-gray-500">

        Aún no has realizado ninguna compra 🛒

    </div>

    <!-- LIST -->
    <div *ngIf="orders().length > 0"
         class="space-y-4">

        <div *ngFor="let order of orders()"
             class="bg-white border rounded p-4 shadow-sm
                    flex justify-between items-center
                    cursor-pointer hover:bg-gray-50 transition"
             (click)="goToOrderDetail(order.orderId)">

            <!-- LEFT SIDE -->
            <div>

                <div class="font-semibold">
                    Orden {{ order.orderId | slice:0:8 }}
                </div>

                <div class="text-sm text-gray-600">
                    {{ order.createdAt | date:'mediumDate' }}
                    · {{ order.itemsCount }} producto{{ order.itemsCount === 1 ? '' : 's' }}
                </div>

            </div>

            <!-- RIGHT SIDE -->
            <div class="text-right space-y-1">

                <div class="font-bold text-lg">
                    S/ {{ order.total | number:'1.2-2' }}
                </div>

                <!-- STATUS -->
                <div class="text-sm font-semibold"
                    [ngClass]="statusClass(order.status)">
                    {{ statusLabel(order.status) }}
                </div>

                <!-- VER DETALLE -->
                <div class="group inline-flex items-center gap-1 text-xs font-medium text-blue-600 transition hover:text-blue-700 cursor-pointer">

                    <span>Ver detalle</span>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-3.5 w-3.5 transition-transform group-hover:translate-x-0.5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M3.75 10a.75.75 0 0 1 .75-.75h9.69L10.22 5.28a.75.75 0 1 1 1.06-1.06l5.25 5.25a.75.75 0 0 1 0 1.06l-5.25 5.25a.75.75 0 1 1-1.06-1.06l3.97-3.97H4.5a.75.75 0 0 1-.75-.75Z"
                            clip-rule="evenodd"
                        />
                    </svg>

                </div>

            </div>

        </div>

    </div>

</div>