<app-auth-layout>

    <div class="text-center mb-8">
        <h1 class="text-2xl font-bold text-[#0d131b]">
        Nueva contraseña
        </h1>
        <p class="text-sm text-[#4c6c9a] mt-2">
        Ingresa tu nueva contraseña
        </p>
    </div>

    <!-- ERROR -->
    <div *ngIf="error" class="text-red-600 text-sm mb-4 text-center">
        {{ error }}
    </div>

    <!-- FORM -->
    <form
        *ngIf="!success"
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="flex flex-col gap-5"
    >

        <input
        type="password"
        formControlName="password"
        placeholder="Nueva contraseña"
        class="form-input w-full h-14 rounded-lg border p-[15px]"
        />

        <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirmar contraseña"
        class="form-input w-full h-14 rounded-lg border p-[15px]"
        />

        <button
        type="submit"
        [disabled]="form.invalid || loading"
        class="w-full h-14 rounded-lg bg-[#136dec] text-white font-bold
                disabled:opacity-50"
        >
        Cambiar contraseña
        </button>

    </form>

    <!-- SUCCESS -->
    <div *ngIf="success" class="text-center text-green-600 text-sm">
        Contraseña actualizada correctamente. Redirigiendo…
    </div>

</app-auth-layout>
