<app-auth-layout>

    <div class="text-center mb-8">
        <h1 class="text-2xl font-bold text-[#0d131b]">
        Recuperar contraseña
        </h1>
        <p class="text-sm text-[#4c6c9a] mt-2">
        Te enviaremos un enlace para restablecer tu contraseña
        </p>
    </div>

    <!-- FORM -->
    <form
        *ngIf="!success"
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="flex flex-col gap-5"
    >

        <input
        type="email"
        formControlName="email"
        placeholder="correo@ejemplo.com"
        class="form-input w-full h-14 rounded-lg border border-[#cfd9e7]
                p-[15px] text-base"
        />

        <button
        type="submit"
        [disabled]="form.invalid || loading"
        class="w-full h-14 rounded-lg bg-[#136dec] text-white font-bold
                disabled:opacity-50"
        >
        Enviar enlace
        </button>

    </form>

    <!-- SUCCESS -->
    <div *ngIf="success" class="text-center text-sm text-[#4c6c9a]">
        Si el correo existe, te hemos enviado un enlace para restablecer
        tu contraseña.
    </div>

</app-auth-layout>
